body {
  background: linear-gradient(to right, #1c1c1c, #2e2e2e); /* Degradado oscuro */
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2, h5 {
  color: #0072ce; /* Azul PS */
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

button, .btn-primary {
  background-color: #0072ce;
  border-color: #0072ce;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover, .btn-primary:hover {
  background-color: #003087;
  transform: scale(1.05);
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.list-group-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

input, .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input::placeholder {
  color: #ccc;
}
